<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @posts_tag.post %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @posts_tag.tag %>
</p>

<%= link_to 'Edit', edit_posts_tag_path(@posts_tag) %> |
<%= link_to 'Back', posts_tags_path %>
