<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @bank.bank_id %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @bank.bank_name %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
