<p id="notice"><%= notice %></p>

<p>
  <strong>O:</strong>
  <%= @order.o_id %>
</p>

<p>
  <strong>Del addr:</strong>
  <%= @order.del_addr %>
</p>

<p>
  <strong>Detail addr:</strong>
  <%= @order.detail_addr %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @order.post_code %>
</p>

<p>
  <strong>Total pay:</strong>
  <%= @order.total_pay %>
</p>

<p>
  <strong>Del pay:</strong>
  <%= @order.del_pay %>
</p>

<p>
  <strong>Or time:</strong>
  <%= @order.or_time %>
</p>

<p>
  <strong>Pay time:</strong>
  <%= @order.pay_time %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Invoice code:</strong>
  <%= @order.invoice_code %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
