<p id="notice"><%= notice %></p>

<h1>Listing Dummyranks</h1>

<table>
  <thead>
    <tr>
      <th>Rankname</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dummyranks.each do |dummyrank| %>
      <tr>
        <td><%= dummyrank.rankname %></td>
        <td><%= dummyrank.content %></td>
        <td><%= link_to 'Show', dummyrank %></td>
        <td><%= link_to 'Edit', edit_dummyrank_path(dummyrank) %></td>
        <td><%= link_to 'Destroy', dummyrank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dummyrank', new_dummyrank_path %>
