<%# form_for @post do |f| %>
  <%# f.error_messages %>
  <%# f.text_field :title %>
  <%# f.text_area :content %>
  <%# f.submit %>
<%# end %>

<%= simple_form_for @post, html:{multipart: true} do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%=f.input :img %>
  <div class="row">
    <div class="col"><%= f.input :start_date, as: :date, start_year: Date.today.year - 90,
                               order: [:year, :month, :day] %></div>
    <div class="col">  <%= f.input :end_date, as: :date, start_year: Date.today.year,
                                order: [:year, :month, :day] %></div>
  </div>

  <%= f.input :content, class: "editor", rows:40, cols: 120 %>
  <%= f.input :tag_list_fixed, placeholder: '태그는 ,로 구분해주세요'%>

  <%#= simple_fields_for :tags do |t| %>
  <%#= simple_fields_for :tags do |t| %>
    <%#= t.input :content, label: '해시태그를 입력해주세요 ( ex. #방탄소년단 #야광봉 #티셔츠 )', input_html: {value: @tags} %>
  <%# end %>
  <%=tinymce%>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>

<!-- 마저 수정할것~ -->
 <!-- <script>
  tinyMCE.init({
    selector: 'textarea#post_content'
  }); -->
<!-- </script> -->
