<%# form_for @post do |f| %>
  <%# f.error_messages %>
  <%# f.text_field :title %>
  <%# f.text_area :content %>
  <%# f.submit %>
<%# end %>

<%= simple_form_for @post, html:{multipart: true} do |f| %>
  <%= f.error_notification %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%=f.input :img %>
  <div class="row">
    <div class="col"><%= f.input :start_date, as: :date, start_year: Date.today.year - 90,
                               order: [:year, :month, :day] %></div>
    <div class="col">  <%= f.input :end_date, as: :date, start_year: Date.today.year,
                                order: [:year, :month, :day] %></div>
  </div>
  <%= f.input :account , placeholder:"계좌번호를 -없이 입력해주세요" %>
  <%= f.input :account_name , placeholder:"은행명을 입력해주세요" %>
  <%= f.input :option, placeholder: '옵션은 /로 구분해주세요 (ex.티셔츠(빨강)/티셔츠(블랙)/응원봉)'%>
  <%= f.input :price , placeholder:"옵션별 가격을 순서대로 입력해주세요 (ex.10000/10000/5000)" %>
  <%= f.input :content, class: "editor", rows:40, cols: 120 %>
  <%= f.input :tag_list_fixed, placeholder: '태그는 ,로 구분해주세요 (ex.방탄소년단,티셔츠,공구)'%>

  <%#= simple_fields_for :tags do |t| %>
  <%#= simple_fields_for :tags do |t| %>
    <%#= t.input :content, label: '해시태그를 입력해주세요 ( ex. #방탄소년단 #야광봉 #티셔츠 )', input_html: {value: @tags} %>
  <%# end %>
  <%=tinymce%>
  <%= f.button :submit, class: "btn btn-outline-secondary" %>
<% end %>


<!-- 마저 수정할것~ -->
 <!-- <script>
  tinyMCE.init({
    selector: 'textarea#post_content'
  }); -->
<!-- </script> -->
