<div class="container-head">
<div class="display-4 text-center">
  <%= @post.title %>
</div>
<div class="text-center">
  <%= image_tag @post.user.profile_img, class: "rounded-circle profile-img"%>
  <%= @post.user.name %>
</div>


<div class="showheader row my-5">
  <div class="col">
    <%=image_tag @post.img.thumb_fill.url %>
  </div>
  <div class="col">
    <table>
      <tbody>
        <tr>
          <td>프로젝트명</td>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <td>프로젝트 요약</td>
          <td><%= @post.description %></td>
        </tr>
        <tr>
          <td>가격</td>
          <td id="price-<%= @post.id %>"><%= @post.price %> 원</td>
        </tr>
        <tr>
          <td>계좌번호</td>
          <td><%= @post.account %></td>
        </tr>
        <tr>
          <td>진행기간</td>
          <td><%= @post.start_date %> ~ <%= @post.end_date %></td>
        </tr>
      </tbody>
    </table>
    <label>목표달성률</label> <br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= @post.orders.count*100/@post.goal %>%;" aria-valuenow="<%= @post.orders.count*100/@post.goal %>" aria-valuemin="0" aria-valuemax="100"><%= @post.orders.count*100/@post.goal %>%</div>
    </div>
</div>
</div>
</div>


<div class ="container-body">
  <!--진행상황 -->
  <div class="row" style="margin-top: 50px">
  <div class="col text-center" scope="col">
    <h5>주문접수</h5>
    <div class="border rounded-circle shadow p-3 mb-5 mx-auto bg-white rounded row align-items-center justify-content-center" style="height:120px; width:120px;">
      <td scope="col text-center">
        <h1><%= @orderlist.count %></h1>
      </td>
    </div>
  </div>
  <div class="col text-center" scope="col">
    <h5>입금확인</h5>
    <div class="border rounded-circle shadow p-3 mb-5 mx-auto bg-white rounded row align-items-center justify-content-center" style="height:120px; width:120px;">
      <td scope="col text-center">
          <h1><%= @orderlist.count %></h1>
      </td>
    </div>
  </div>
  <div class="col text-center" scope="col">
    <h5>발송준비</h5>
    <div class="border rounded-circle shadow p-3 mb-5 bg-white mx-auto rounded row align-items-center justify-content-center" style="height:120px; width:120px;">
      <td scope="col text-center">
        <h1>0</h1>
      </td>
    </div>
  </div>
  <div class="col text-center" scope="col">
    <h5>주문처리완료</h5>
    <div class="border rounded-circle shadow p-3 mb-5 bg-white mx-auto rounded row align-items-center justify-content-center" style="height:120px; width:120px;">
      <td scope="col text-center">
        <h1>0</h1>
      </td>
    </div>
  </div>
    <!-- <div class="col border rounded-circle shadow p-3 mb-5 bg-white rounded text-center" style="height:120px; width:120px; margin-right:50px;">
      <label>입금확인</label> <br>
      <td scope="col" style="text-align:center">
        middle
      </td>
    </div>
    <div class="col border rounded-circle shadow p-3 mb-5 bg-white rounded text-center" style="height:120px; width:120px; margin-right:50px;">
      <label>발송준비</label> <br>
      <td scope="col" style="text-align:center">
        middle
      </td>
    </div>
    <div class="col border rounded-circle shadow p-3 mb-5 bg-white rounded text-center" style="height:120px; width:120px; margin-right:30px;">
      <label>주문처리완료</label> <br>
      <td scope="col" style="text-align:center">
        middle
      </td>
    </div> -->

    <!-- <div class="col" style="height: 120px; width: 120px;">
      <span class=" border rounded-circle shadow p-3 mb-5 bg-white rounded align-middle"; style="text-align: center; width: 120px; height: 120px;  background-color: rgba(0,0,255,.1); margin-top: 50px;"><td class="align-middle">middle</td></span>
    </div>
    <div class="col">
      <span class=" border rounded-circle shadow p-3 mb-5 bg-white rounded align-middle"; style="text-align: center; width: 120px; height: 120px;  background-color: rgba(0,0,255,.1); margin-top: 50px;"><td class="align-middle">middle</td></span>
    </div>
    <div class="col">
      <span class=" border rounded-circle shadow p-3 mb-5 bg-white rounded align-middle"; style="text-align: center; width: 120px; height: 120px;  background-color: rgba(0,0,255,.1); margin-top: 50px;"><td class="align-middle">middle</td></span>
    </div>
    <div class="col">
      <span class=" border rounded-circle shadow p-3 mb-5 bg-white rounded align-middle"; style="text-align: center; width: 120px; height: 120px;  background-color: rgba(0,0,255,.1); margin-top: 50px;"><td class="align-middle">middle</td></span>
    </div> -->
    <!-- <span class=" border rounded-circle shadow p-3 mb-5 bg-white rounded "; style="text-align: center; width: 120px; height: 120px;  background-color: rgba(0,0,255,.1); margin-top: 50px; margin-left: 30px;">58%</span>
    <span class=" border rounded-circle shadow p-3 mb-5 bg-white rounded "; style="text-align: center; width: 120px; height: 120px;  background-color: rgba(0,0,255,.1); margin-top: 50px; margin-left: 30px;">58%</span>
    <span class=" border rounded-circle shadow p-3 mb-5 bg-white rounded "; style="text-align: center; width: 120px; height: 120px;  background-color: rgba(0,0,255,.1); margin-top: 50px;margin-left: 30px;">58%</span> -->
  </div>


  <!--데이터 테이블 -->
  <div class="table-responsive">
    <table class="table">
      <thead>
       <tr class = "text-center">
         <th scope="col">#</th>
         <th scope="col">주문상품</th>
         <th scope="col">참여자명</th>
         <th scope="col">금액</th>
         <th scope="col">결제일</th>
         <th scope="col">결제수단</th>
         <th scope="col">진행상태</th>
         <th scope="col">송장</th>
       </tr>
      </thead>
     <tbody>
       <% @orderlist.each_with_index do |order ,idx|%>
         <tr class = "text-center">
           <th scope="row"><h4><%=idx +1%></h4></th>
           <td><%=order.options%></td>
           <td><%=order.rcp_name%></td>
           <td><%=order.total_pay%></td>
           <td><%=order.or_time%></td>
           <td>무통장입금</td>
           <td>입금확인</td>
           <td><%=order.invoice_code%></td>
        </tr>
       <% end %>
     </tbody>
    </table>
  </div>
</div>
