

<!-- home ranking -->
<div class="row my-5">
  <div id="carouselExampleIndicators" class="carousel slide col" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%#= image_tag @posts.first.img.thumb_fill.url, class: "d-block w-100" %>
        <div class="carousel-caption d-none d-md-block">
           <h5>랭킹 1위</h5>
           <p>#태그#태그#태그#태그#태그#태그</p>
        </div>
      </div>
      <div class="carousel-item">
        <%#= image_tag @posts.first.img.thumb_fill.url, class: "d-block w-100" %>
        <div class="carousel-caption d-none d-md-block">
           <h5>랭킹 1위</h5>
           <p>#태그#태그#태그#태그#태그#태그</p>
        </div>
      </div>
      <div class="carousel-item">
        <%#= image_tag @posts.first.img.thumb_fill.url, class: "d-block w-100" %>
        <div class="carousel-caption d-none d-md-block">
           <h5>랭킹 1위</h5>
           <p>#태그#태그#태그#태그#태그#태그</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide col" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="3" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%#= image_tag @posts.first.img.thumb_fill.url, class: "d-block w-100" %>
        <div class="carousel-caption d-none d-md-block">
           <h5>랭킹 1위</h5>
           <p>#태그#태그#태그#태그#태그#태그</p>
        </div>
      </div>
      <div class="carousel-item">
        <%#= image_tag @posts.first.img.thumb_fill.url, class: "d-block w-100" %>
        <div class="carousel-caption d-none d-md-block">
           <h5>랭킹 1위</h5>
           <p>#태그#태그#태그#태그#태그#태그</p>
        </div>
      </div>
      <div class="carousel-item">
        <%#= image_tag @posts.first.img.thumb_fill.url, class: "d-block w-100" %>
        <div class="carousel-caption d-none d-md-block">
           <h5>랭킹 1위</h5>
           <p>#태그#태그#태그#태그#태그#태그</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<% if params[:tag] %>
  <h2>post tagged with "<%= params[:tag] %>" <small>(<%= @posts.size %>)</small></h2>
<% end %>
<div class="row justify-content-center">
<% @posts.each do |post| %>

<div class="card m-1">
  <%= link_to post do %>
    <%= image_tag post.img.thumb_fill.url, class: "card-img-top"  %>
  <% end %>
  <div class="card-body text-center">
    <!-- <h5 class="card-title"><%= post.title %></h5> -->
    <%= link_to "<h5>#{post.title}</h5>".html_safe, post, class: "card-title" %>
    <p class="card-text"><%= post.user.email %> </p>
    <!-- <p class="card-text"><%# post.description %></p> -->
    <p><i class="fas fa-tags"></i> <%= tag_icons post.tag_list%></p>
  </div>
  <div class="progress" style="height: 5px;">
    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm"><p class="card-text text-center"><i class="far fa-calendar-alt"></i> D-<%=(post.end_date - Date.current).to_i %></p></div>
      <div class="col-sm">
        <p class="card-text text-center"><% if current_user and current_user.liked_posts.include? post %>
          <%= link_to "posts/#{post.id}/like", data: {id: post.id}, remote: true, method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
      <% else %>
          <%= link_to "posts/#{post.id}/like", data: {id: post.id}, remote: true, method: :put do %>
            <i class="far fa-heart"></i>
          <% end %>
      <% end %>
      <span><%= post.liked_users.count %></span> </p>
    </div>
      <div class="col-sm"> <p class="card-text text-right">25%</p> </div>
    </div>
  </div>
</div>
<% end %>
</div>

<div class="d-flex justify-content-center">
  <%= paginate @posts %>
</div>
