<%#= @post.id %>

<div class="display-4 text-center">
  <%= @post.title %>
</div>
<div class="text-center">
  <%= image_tag @post.user.profile_img, class: "rounded-circle profile-img"%>
  <%= @post.user.name %>
</div>


<div class="showheader row my-5">
  <div class="col">
    <%=image_tag @post.img.thumb_fill.url %>
  </div>
  <div class="col">
    <table>
      <tbody>
        <tr>
          <td>상품설명</td>
          <td><%= @post.description %></td>
        </tr>
        <tr>
          <td>가격</td>
          <td id="price-<%= @post.id %>"><%= @post.price %> 원</td>
        </tr>
        <tr>
          <td>계좌번호</td>
          <td><%= @post.account %></td>
        </tr>
        <tr>
          <td>진행기간</td>
          <td><%= @post.start_date %> ~ <%= @post.end_date %></td>
        </tr>
      </tbody>
    </table>
    <label>참여상황</label> <br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: <%= @post.orders.count*100/@post.goal %>%;" aria-valuenow="<%= @post.orders.count*100/@post.goal %>" aria-valuemin="0" aria-valuemax="100"><%= @post.orders.count*100/@post.goal %>%</div>
    </div>

  <form class="form-group" action="/posts/<%=@post.id%>/order" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"
      <label for="exampleFormControlSelect1">옵션선택</label>
      <select name = "options" class="form-control" id="options">
        <option selected value="d" id="options-d">옵션선택</option>
          <% @option.each_with_index do |o,i| %>
          <option class="option" value="<%= i %>" id="options-<%= i %>"><%= o %></option>
          <% end %>
      </select>

      <div class="select_option">

      </div>
      <!-- <div >
        <p class="total_price">0</p>
      </div> -->

    <div class="text-center my-5">
      <input type="submit" class= "btn btn-outline-secondary" value="주문하기">
    </div>

  </form>

  </div>
</div>
<h3>상세설명</h3>
<%= @post.content.html_safe %>

  <i class="fas fa-tags"></i> <%= tag_icons @post.tag_list%> <br>

<%# @post.tags.each do |t| %>
  <%#=t.content%>
<%#end%>
<!-- 글이 아래로 내려감 -->
<!-- <%=image_tag @post.img%> -->

<!-- <%=image_tag @post.img.thumb_fill.url%> -->
<% if can? :edit, @post %>
  <%= link_to '수정하기', edit_post_path(@post) %>
<% end %>
<% if can? :destroy, @post %>
  <%= link_to '삭제하기',
                      @post,
                      method: :delete,
                      data: {confirm: '삭제하시겠습니까?'} %>
<% end %>
<% if can? :admin, @post %> <!--권한부여  근데이거 겟으로넘겨도됨?-->
  <%= link_to '관리자페이지',
                      "/posts/#{@post.id}/admin",
                      method: :post,
                      data: {confirm: '관리자페이지로 넘어가시겠습니까?'} %>
  <%#= link_to "posts/#{post.id}/like", data: {id: post.id}, remote: true, method: :delete do %>
<% end %>
<hr />
<h5>댓글</h5>
<form action="/posts/<%= @post.id%>/comments" method="post" data-remote=true>
  <input type="text" name="content" /><br />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" />
</form>
<hr />

<div id="comments">
  <% @comments.each do |comment| %>
    <!-- <strong><%= User.find(comment.user_id).name %></strong> -->
    <p>
      <%= comment.content %>
      <%= link_to '삭제하기', destroy_comment_path(comment.id), remote: true, method: :delete, class:"delete_comment" %>
    </p>
    <hr />
  <% end %>
</div>

<script>

  $('#options').change(function(){
      var text = $(`#options-${this.value}`).text();
      // var size = $(`#_quantity`).length);
      var d = $(`#options-${this.value}`).val();
      if ($(`#${this.value}_quantity`).val() == undefined && d != "d") {
        $('.select_option').append(`옵션선택: ${text} <br /> <input type="hidden" name="option[option_${this.value}]" value="${text}"/> <input type="number" name="quan[quantity_${this.value}]" class="quantity" id="${this.value}_quantity" value="1" min="1" max="100"/> <hr />`);
      }
  });

  // $('.quantity').change(function(data){
  //   var total_price = data.price * $('.quantity').val();
  //   $('.total_price').text(`${total_price}`);
  // })

  $('form').on('ajax:success', function() {
    $('input[name="content"]').val('');
  });
</script>

<!--script>
  $('input[type="submit"]').on('click', function(e) {
    e.preventDefault();
    alert('start!');
    $.ajax({
      url: $('form').attr('action'),
      type: "POST",
      data: {content: $('input[name="content"]').val(),
            authenticity_token: $('[name="csrf-token"]').attr('content')},
      dataType: 'script',
      success: function(){
        alert('success')
        $('input[name="content"]').val('');
      },
      error: function(){
        alert('fail!');
      }
    });
  });

  $('.delete_comment').on('click', function(e) {
    e.preventDefault();
    alert("start_delete");
    $.ajax({
      url: this.href,
      type: "DELETE",
      data: {authenticity_token: $('[name="csrf-token"]').attr('content')},
      dataType: "script",
      success: function() {
        alert("delete_complete!");
      },
      error: function() {
        alert("delete_error!");
      }
    });
  });

</script-->


<!--script>
$('input[type="submit"]').on('click', function(e) {
  var response = confirm("정말 제출하실 건가요?");
  if (!response) {
    //이 코드가 실행되려면 response==false
    //e.preventDefault(); //submit 되는 걸 막아준다.
    return false;
  } else {
    // e.stopImmediatePropagation(); 동일한 element에 있는 다른 이벤트들 발생 x
  }
});

function checkContentLen(e) {
  var content = $('input[name="content"]').val();
  if (content.length < 10) {
    alert('10글자 이상 작성해 주세요');
    return false;
  } else {
    alert('참 잘했어요!');
  }
}

$('input[type="submit"]').on("click", checkContentLen);
</script-->
