<%= @post.id %>

<div class="display-4 text-center">
  <%= @post.title %>
</div>
<div class="text-center">
  <%= image_tag @post.user.profile_img, class: "rounded-circle profile-img"%>
  <%= @post.user.name %>
</div>


<div class="showheader row my-5">
  <div class="col">
    <%=image_tag @post.img.thumb_fill.url %>
  </div>
  <div class="col">
    <table>
      <tbody>
        <tr>
          <td>상품설명</td>
          <td><%= @post.description %></td>
        </tr>
        <tr>
          <td>가격</td>
          <td id="price-<%= @post.id %>"><%= @post.price %> 원</td>
        </tr>
        <tr>
          <td>계좌번호</td>
          <td><%= @post.account %></td>
        </tr>
        <tr>
          <td>진행기간</td>
          <td><%= @post.start_date %> ~ <%= @post.end_date %></td>
        </tr>
      </tbody>
    </table>
    <label>참여상황</label> <br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>

  <form class="form-group" action="index.html" method="post">

      <label for="exampleFormControlSelect1">옵션선택</label>
      <select name = "options" class="form-control" id="options">
        <option selected>옵션선택</option>
          <% @option.each do |o| %>
          <option class="option" value="<%= o %>"><%= o %></option>
          <% end %>
      </select>

      <div class="select_option">

      </div>
      <!-- <div >
        <p class="total_price">0</p>
      </div> -->

    <div class="text-center my-5">
      <input type="submit" class= "btn btn-warning" value="주문하기">
    </div>

  </form>

  </div>
</div>
<h3>상세설명</h3>
<%= @post.content.html_safe %>

  <i class="fas fa-tags"></i> <%= tag_icons @post.tag_list%> <br>

<%# @post.tags.each do |t| %>
  <%#=t.content%>
<%#end%>
<!-- 글이 아래로 내려감 -->
<!-- <%=image_tag @post.img%> -->

<!-- <%=image_tag @post.img.thumb_fill.url%> -->
<% if can? :edit, @post %>
  <%= link_to '수정하기', edit_post_path(@post) %>
<% end %>
<% if can? :destroy, @post %>
  <%= link_to '삭제하기',
                      @post,
                      method: :delete,
                      data: {confirm: '삭제하시겠습니까?'} %>
<% end %>
<hr />

<form action="/posts/<%= @post.id%>/comments" method="post" data-remote=true>
  <input type="text" name="content" /><br />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" />
</form>
<hr />

<div id="comments">
  <% @comments.each do |comment| %>
    <p>
      <%= comment.content %>
      <%= link_to '댓글 삭제하기', destroy_comment_path(comment.id), remote: true, method: :delete, class:"delete_comment" %>
    </p>
    <hr />
  <% end %>
</div>

<script>

  $('#options').change(function(){
      $('.select_option').append(`옵션선택:  ${this.value} <br /> <input type="number" class="quantity" value="1"/> <hr />`);
  });

  // $('.quantity').change(function(data){
  //   var total_price = data.price * $('.quantity').val();
  //   $('.total_price').text(`${total_price}`);
  // })

  $('form').on('ajax:success', function() {
    $('input[name="content"]').val('');
  });
</script>

<!--script>
  $('input[type="submit"]').on('click', function(e) {
    e.preventDefault();
    alert('start!');
    $.ajax({
      url: $('form').attr('action'),
      type: "POST",
      data: {content: $('input[name="content"]').val(),
            authenticity_token: $('[name="csrf-token"]').attr('content')},
      dataType: 'script',
      success: function(){
        alert('success')
        $('input[name="content"]').val('');
      },
      error: function(){
        alert('fail!');
      }
    });
  });

  $('.delete_comment').on('click', function(e) {
    e.preventDefault();
    alert("start_delete");
    $.ajax({
      url: this.href,
      type: "DELETE",
      data: {authenticity_token: $('[name="csrf-token"]').attr('content')},
      dataType: "script",
      success: function() {
        alert("delete_complete!");
      },
      error: function() {
        alert("delete_error!");
      }
    });
  });

</script-->


<!--script>
$('input[type="submit"]').on('click', function(e) {
  var response = confirm("정말 제출하실 건가요?");
  if (!response) {
    //이 코드가 실행되려면 response==false
    //e.preventDefault(); //submit 되는 걸 막아준다.
    return false;
  } else {
    // e.stopImmediatePropagation(); 동일한 element에 있는 다른 이벤트들 발생 x
  }
});

function checkContentLen(e) {
  var content = $('input[name="content"]').val();
  if (content.length < 10) {
    alert('10글자 이상 작성해 주세요');
    return false;
  } else {
    alert('참 잘했어요!');
  }
}

$('input[type="submit"]').on("click", checkContentLen);
</script-->
