<!DOCTYPE html>
<html>
<head>
  <title>Planet09 - 공구플랫폼</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
</head>
<body class = "container">
  <!-- header -->
  <header>
    <% flash.each do |key, value| %>
      <div class="<%= flash_message(key) %>" role="alert">
        <%= value %>
      </div>
    <% end %>
    <div class="row" id="banner">
      <div class= "col my-auto">
        <h1 id = "logo">Planet09</h1>
      </div>
      <!-- <div class="col-6 my-auto d-flex justify-content-center"> -->
        <form class="form-inline row col-5 justify-content-center">
            <input class="form-control mr-2 col-8" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
      <!-- </div> -->
      <div class="col my-auto text-center">
        <!-- <%#= gravatar(current_user) %> -->

        <% if user_signed_in? %>
        <%= image_tag current_user.profile_img, class: "rounded-circle profile-img"%>
          <span><%= current_user.email %></span>
          <%= link_to '로그아웃', destroy_user_session_path, method: :delete %>
        <% else %>
          <!-- <a href="/users/sign_in">로그인</a> -->
          <%= link_to '로그인', new_user_session_path %>
          <!-- <a href="/users/sign_up">회원가입</a> -->
          <%= link_to '회원가입', new_user_registration_path %>
        <% end %>

      </div>

    </div>

  </header>

<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-light row ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
     <div class="navbar-nav navbar-center">
       <%= link_to '홈으로', root_path	, class: "nav-item nav-link" %>
       <%= link_to '플래닛개설하기', new_post_path, class: "nav-item nav-link" %>
       <%= link_to '공구둘러보기', '/posts/group', class: "nav-item nav-link" %>
       <!-- <a class="nav-item nav-link" href="#">공구둘러보기</a> -->
       <a class="nav-item nav-link" href="#">서포트둘러보기</a>
       <!-- <a class="nav-item nav-link" href="posts/rank">랭킹보기</a> -->
       <%= link_to '랭킹보기', posts_rank_path , class: "nav-item nav-link"%>
       <%= link_to '마이페이지', posts_mypage_path, class: "nav-item nav-link" %>
     </div>
   </div>
</nav>

<!-- nav bar end -->

<div class="container">
  <%= yield %>
</div>

<!-- <script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
